.main-form{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #2c94b4;
}

.main-form input{
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.img{
    max-width: 400px;
    width: 100%;
    margin: 1em auto;
}

#calcular{
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #2c94b4;
    color: white;
}

#calcular:hover{
    background-color: #207fa8;
    cursor: pointer;
  

}


.result{
    margin: 2em auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
    display: flex;
}

#resultado{
    text-align: center;
    margin: 2em auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
    background-color: #dd681a;
}

#resultado2{
    text-align: center;

    margin: 2em auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
    background-color: #da0d3a;

}
#resultado3{
    text-align: center;
    margin: 2em auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
    background-color: #32c90c;

}
#resultado4{
    text-align: center;
    margin: 2em auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
    background-color: #ae16a4;

}

@media (max-width: 868px){

    .result{
        max-width: 100%;
        flex-direction: column;
    }

}
